body{
    position: relative;
    text-align: center;
    background-color: #379683;
    overflow-x: hidden;
   
    flex-direction: column;
  }

header{
    display: flex;
}
nav {
    background-color: #B1A296;
    overflow: auto;
    justify-content: right,t;
   
    width: 100%;

  }
  
  ul li {
    
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }
  ul li a{
    text-decoration: none; 
    cursor: pointer;
    color: rgb(0, 0, 0);
    
    }
    nav a:hover {
        background-color: #ffffffc4;
        transition: background-color 0.3s ease;
      }
  
      table {
        margin-left: 22%;
        margin-top: 5%;
        width: 50%;
        border-spacing: 0;
        border: 1px solid #ddd;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 16px;
        color: #333;
      }
      
      thead {
        background-color: #eee;
        font-weight: bold;
      }
      
      th,
      td {
        padding: 10px;
        text-align: left;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      
      th:last-child,
      td:last-child {
        border-right: none;
      }
      
      tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
      }
      
      tbody tr:hover {
        background-color: #f5f5f5;
      }
      
      
      

  footer {
  
    background-color: #557A95;
    text-align: center;
    position: static;
    bottom:0;
    width: 100%;
    margin-top: auto;
    height: 120px;
  

  }